.App {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  width: 500px;
  height: 60px;
  margin: 0 auto;
}

.Header {
  display: flex;
  justify-content: space-around;
}

.Header img {
  height: 60px;
}
.Header input {
  width: 350px;
  padding: 10px;
  padding-left: 20px;
  margin: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}